- name: Installer pip
  ansible.builtin.apt:
    name: python3-pip
    state: present
    update_cache: yes

- name: Installer psycopg2
  ansible.builtin.apt:
    name: python3-psycopg2
    state: present
    update_cache: yes

- name: Attendre que PostgreSQL soit disponible
  ansible.builtin.wait_for:
    host: "127.0.0.1"
    port: 5432
    delay: 5
    timeout: 60

- name: Créer l'utilisateur PostgreSQL
  community.postgresql.postgresql_user:
    name: "{{ postgres_user }}"
    password: "{{ postgres_password }}"
    role_attr_flags: SUPERUSER
    login_host: "127.0.0.1"
    login_port: 5432
    login_user: "admin"
    login_password: "Password123!"
    login_db: "postgres"

- name: Créer la base de données
  community.postgresql.postgresql_db:
    name: "{{ postgres_db }}"           # infra_secure
    owner: "{{ postgres_user }}"        # admin
    login_host: "127.0.0.1"
    login_port: 5432
    login_user: "{{ postgres_user }}"   # admin
    login_password: "{{ postgres_password }}"
    maintenance_db: "postgres"         # <- ici !
